{% assign author = site[page.author] %}
{% if author %}
  <br>
  <hr>
  <span>
     <div>

        {% if author.image %}
           <img src="{{author.image}}" class="fa">
        {% endif %}
        <div>
           <h3> {{author.name}} &nbsp;
             {% if author.twitter %}
                 <span class="icon grey mr-2">
                     {{link.icon}}
                 </span>
                <a href="{{author.twitter}}" class="icon grey mr-2">
                  <span class="text-nowrap">Twitter</span>
                </a>
              {% endif %}
            </h3>
        </div>
     </div>
     {{ author.bio }}
  </span>
  <br>
{% else %}
  <span>
    Written by Secteclab
  </span>
{% endif %}
